*{
    margin: 0;
    padding: 0;
    background-color: #FFECCC;
    font-family: Verdana;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
h1{
    margin-bottom: 1rem;
}
.calcybox{
    height: 600px;
    width: 500px;
    background-color: black;
    border-radius: 5px;
    flex-wrap: wrap;
}
.input{
    height: 100px;
    width: 490px;
    background-color: #677381;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    font-size: 50px;
    background-color: #677381;
    color: white;
}
.digits{
    width: 490px;
    height: 485px;
    margin: 5px 5px 5px 5px;
    background-color: black;
}
.nums{
    width: 490px;
    height: 480px;
    background-color: #82A0AA;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.no{
    width: 120px;
    height: 110px;
    background-color: #A3CFCD;
    margin: 8px 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
p{
    background-color: #A3CFCD;
    color: black;
    font-size: 25px;
}
.lastrow{
    background-color: #82A0AA;
    width: 490px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#zero{
    width: 120px;
    height: 90px;
    background-color: #A3CFCD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 0 5px 10px;
}
.ops{
    width: 80px;
    height: 80px;
    background-color: #08B2E3;
    margin: 8px 0 8px 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opsp{
    background-color: #08B2E3;
}
#equalto{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 8px 0 8px 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#allclear{
    width: 80px;
    height: 80px;
    background-color: yellow;
    margin: 8px 10px 8px 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opspe{
    background-color: red;
}
.opspac{
    background-color: yellow;
}
.no:hover, .ops:hover, #equalto:hover, #allclear:hover{
    border: 2px solid black;
}