@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #9AA8FF;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    height: 500px;
    align-items: center;
    background-color: #5B74F4;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}
h1{
    text-decoration: underline black;
    text-shadow: 1.5px 1.5px black;
}
.info{
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
    height: 350px;
    justify-content: space-evenly;
}
.enter{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
h2{
    text-shadow: 3px 3px black;
}
input{
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 17.5px;
}
.btn{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
#calc{
    background-color: #EB3A50;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
#calc:hover{
    background-color: #BB3A50;
    border: 2px solid white;
    cursor: pointer;
}
#clear{
    background-color: #FFEFCA;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
#clear:hover{
    background-color: #847655;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.bmi{
    display: flex;
    justify-content: center;
    background-color: #EEE8A9;
    color: black;
    line-height: 30px;
    font-size: 20px;
}
.category{
    display: flex;
    justify-content: center;
    color: black;
    line-height: 30px;
    font-size: 20px;
}