*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #5F46C3;
}

.box{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.user{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 40px 0;
}

input{
    width: 230px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #5F46C3;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #5F46C3;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid #5F46C3;
    cursor: pointer;
}
#plus{
    font-size: 30px;
}